@import "../../styles/vars.module.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px 0;
  margin: 15px 0;
  background-color: $white;
  color: $black;
}
