@import "../../styles/vars.module.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 35px 0;
  margin: 15px 0;
  background-color: $white;
  color: $black;

  &_item {
    width: 500px;
    display: flex;
    padding: 15px 15px;
    margin-bottom: 60px;
    margin-top: 55px;
    border: 1px solid $light_gray;
    border-radius: 15px;

    &_pokemon_bg {
      width: 100%;
      margin: 0 auto;
      text-align: center;

      img {
        width: 220px;
        margin-top: -75px;
      }
    }

    &_profile {
      padding: 15px 10px;
      text-align: center;
      text-transform: capitalize;
      margin-top: -20px;
      color: $black !important;
      &_name {
        font-size: 35px;
        color: $yellow;
        letter-spacing: 1px;
      }

      &_number {
        font-size: 20px;
        letter-spacing: 1px;
      }
      &_type {
        margin-left: 15px;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-bottom: 15px;
    font-size: 25px;
    gap: 5px;

    &_page_num {
      padding: 8px 15px;
      cursor: pointer;
      border-radius: 3px;
      font-weight: 400;
      transition: ease-in 0.1s;

      &:hover {
        background-color: $light_blue;
        color: $white;
      }

      &_active {
        padding: 8px 0;
        border-radius: 3px;
        background-color: $light_blue;
        color: $white;
      }
    }
  }
}
